In [4]:
import pandas as pd
data = pd.read_csv("C:\\Users\\PRINCE\\OneDrive\\Desktop\\data (1) linera")
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [5]:
data.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [24]:
XA = data.YearsExperience.tolist()

In [25]:
YA = data.Salary.tolist()

In [29]:
x = data.iloc[:,:-1].values

In [33]:
y = data.iloc[:,1].values

In [ ]:
# now we will be dividing data set into train and test set
#train_test_split()

In [38]:
from sklearn.model_selection import train_test_split

In [75]:
x_train , x_test , y_train , y_test = train_test_split(x, y , test_size = 0.33, random_state = 10)

In [76]:
y_test

array([ 91738.,  54445.,  56642.,  37731.,  43525.,  98273.,  57081.,
       112635.,  56957.,  46205.])

In [77]:
from sklearn.linear_model import LinearRegression

In [78]:
#for creating Untrained model of linear regression - we have to creat an object of this class LinearRegression

In [79]:
reg_model = LinearRegression()

In [80]:
reg_model.fit(x_train , y_train)

LinearRegression()

In [81]:
x_test

array([[6.8],
       [3.2],
       [2.9],
       [1.5],
       [2. ],
       [7.1],
       [4.1],
       [9.6],
       [4. ],
       [1.3]])

In [82]:
y_predict = reg_model.predict(x_test)

In [83]:
y_predict

array([ 90329.26994588,  56076.98533315,  53222.62828209,  39902.29537714,
        44659.55712891,  93183.62699694,  64640.05648633, 116969.93575577,
        63688.60413598,  37999.39067643])

In [84]:
y_test

array([ 91738.,  54445.,  56642.,  37731.,  43525.,  98273.,  57081.,
       112635.,  56957.,  46205.])

In [85]:
from sklearn.metrics import r2_score

In [87]:
 r2_score(y_test, y_predict)

0.9602319713033926